NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=
NEXT_PUBLIC_PROTO_MON_GAME_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=84532
BACKEND_DEALER_PRIVATE_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
AA_BUNDLER_URL=
AA_PAYMASTER_URL=
